<!--Exit Button-->
<input type="button" id="exit" value="x" ng-click="casual.stop()"></input><br>
<h1>Mobile Scalextric</h1>
<!--Car information kept in info such as weapon box and action box-->
<!--unique stores nickname entered on onboarding and displays it-->
<div id="unique">

</div>
<div id="info">
    <div id="action-box">
        <b>Action Box</b>
        <div id="action"></div>
    </div>
    Last Lap:<br> 00:00:00<br>
    Fastest Lap:<br> 00:00:00<br>
    <div id="weapon-box">
        <b>Weapon Box</b><br>
        <div ng-repeat="resource in casual.resources track by $index">
            <button ng-model="casual.resources[$index]" ng-click="casual.fireSpecialWeapon(resource.id)">{{resource.name}}</button>
        </div>
    </div>    
</div>
<!--unique stores nickname entered on onboarding and displays it-->
<div id="unique">

</div>
<!--Car controls are the throttle and throtte slider as well as showing if there has been an error-->
<div id="car-controls">
    <span ng-bind="casual.throttle" ng-show="!casual.throttleError"></span>
    <span ng-show="casual.throttleError">Error</span>    
    <input type="range" min="0" max="100" value="0" orient="vertical" class="throttle" ng-model="casual.throttle">    
</div>
