body{  
  background-color: #000000;/*blue*/
  font-family: "Verdana";
  color: white;
  text-align: center;
}

header{  
  background-color: #4c5e61;
  border: solid white;
  border-radius: 5vh; 
  padding:2vh;
  margin-bottom: 5vh;
  margin-top: 5%;
}

.wrapper{  
  background-color: #748c91;/*red*/
  border: solid rgb(255, 255, 255);
  border-radius: 5vh;
  height: 97vh;/* margin default 3vh(viewpoint height) so 100-3=97 to fit screen*/
}

.throttle{
  -webkit-appearance: slider-vertical;
  width: 5vh;
  height: 50vh;
  padding: 0 5vh;
}

#info{
  float: left;
  width: 50%;
}

#action-box{
  background-color: #4c5e61;/*blue*/;   
  border-radius: 2vh;
  border: solid white;
  margin: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;  
}

#weapon-box{
  background-color: #4c5e61;/*blue*/;
  border-radius: 2vh;
  border: solid white;
  margin: 2vh;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;  
}


#exit{
  position: absolute;
  right: 6%;
  top: 3%;
}

#challenge{
  position: absolute;
  left: 6%;
  top: 3%;
}